body {
    background-color: lightblue;
}

#text {
    position: relative;
    color: brown;
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
}

#shop {
    position: relative;
    font-weight: bolder;
    font-size: 50px;
    background-color: white;
    border: 5px solid black;
    padding: 5px;
    height: 700px;
    text-align: center;
}

#p1 {
    position: absolute;
    font-weight: bold;
    font-size: 22px;
    margin-left: 10px;
}

#price1 {
    color: green;
}

#buy1 {
    position: absolute;
    background-color: red;
    border: 5px solid black;
    left: 360px;
}

#p2 {
    position: absolute;
    font-weight: bold;
    font-size: 22px;
    margin-left: 10px;
}

#price2 {
    color: green;
}

#buy2 {
    position: absolute;
    background-color: red;
    border: 5px solid black;
    left: 360px;
}

#p3 {
    position: absolute;
    font-weight: bold;
    font-size: 22px;
    margin-left: 10px;
}

#price3 {
    color: green;
}

#buy3 {
    position: absolute;
    background-color: red;
    border: 5px solid black;
    left: 360px;
}

#p4 {
    position: absolute;
    font-weight: bold;
    font-size: 22px;
    margin-left: 10px;
}

#price4 {
    color: green;
}

#buy4 {
    position: absolute;
    background-color: red;
    border: 5px solid black;
    left: 360px;
}

#cpower {
    position: relative;
    color: brown;
    font-size: 28px;
    font-weight: bolder;
    top: 1px;
    margin: 5px;
}

#cps {
    position: absolute;
    color: brown;
    font-size: 28px;
    font-weight: bolder;
    top: 1px;
    margin: 5px;
    right: 5px;
}
