body{
	
	background-image: url("img/background.jpg");
	
	font-family: 'Mountains of Christmas', cursive;
	color: green;
	
	
}

h1{	
	position: relative;
    left: 220px;
	font-size: 80px;
	bottom: 60px;



}
h2{
	position: relative;
    left: 279px;
	font-size: 30px;
	color: red;



}


p{
	position: relative;
	left: 390px;
	font-size: 50px;
	bottom: 220px;
	color: green;

}

 .quiz {
 position: relative;
    left: 225px;
	bottom: 40px;
 
 }
 
 h4{
 font-size: 30px;
 color: red;
 
 
 }
 
 #messages{
 
	 position: relative;
    left: 550px;
 
 
 
 }