body{
	
	background-image: url("img/background.jpg");
	font-family: 'Mountains of Christmas', cursive;
	color: green;
	
}

h1{	
	position: relative;
    left: 220px;
	font-size: 80px;
	bottom: 60px;



}

p{
	position: relative;
	left: 90px;
	font-size: 150px;
	bottom: 150px;

}

